fastapi
uvicorn[standard]
pydantic-settings
alembic
python-dotenv
python-multipart
SQLAlchemy
pytest
pydantic-settings
passlib[bcrypt]
PyJWT
email-validator
librosa
pydub
pyloudnorm
numpy
soundfile
stripe
resend>=0.6.0

