fastapi
uvicorn[standard]
pydantic-settings
alembic
python-dotenv
python-multipart
SQLAlchemy
pytest
pydantic-settings
passlib==1.7.4
bcrypt==4.0.1
PyJWT
email-validator
librosa
pydub
pyloudnorm
numpy
soundfile
stripe
resend>=0.6.0

